<div class="container-fluid bg-light border-top border text-center footer
d-flex flex-row justify-content-between align-items-center
">
  <div>
    FRANCISCO LAGORIO
  </div>
  <div>
    2022
  </div>
</div>