<nav class="navbar navbar-expand-lg bg-light border nav ">
  <div class="container-fluid d-flex justify-content-around">

    <a id="home" class="btn btn-success col-2 d-none" href="/home"> Home </a>
    <a id="userInfo" class="btn btn-primary d-none col-2" href="/home/info"> Perfil </a>
    <a id="products" class="btn btn-secondary d-none col-2" href="/products"> Productos </a>
    <a id="cart" class="btn btn-secondary d-none col-2" href="/cart"> Carrito </a>
    <a id="logout" class="btn btn-danger d-none col-2" href="/logout"> Logout </a>
  </div>
</nav>